body {
    padding:0;
    margin:0;
}

.chat {
    border-top:2px solid rgb(0, 179, 255);
    background: #edfbff;
}

.card h3 {
    margin-left:24px;
}

.movies-wrapper {
    border-top: 2px solid #666;
    background: #f5f5f5;
    max-width: 100%;
    margin: 0 auto;
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-content: center;
    align-items: center;
}
.card img {
    width:100%;

    display:cover;
    height: 100%;
}

.movie {
    margin:20px;
    border:1px solid #dedede;
    display: grid;
    max-width:200px;
    max-height:300px;
}