<html>
<head>
    <link rel="stylesheet" href="../assets/style.css">
</head>
<body>

    <div class="card" id="movies-component">
        <h3>HTTP movies API</h3>
        <div class="movies-wrapper">
            <div class="movie" v-for="movie of movies">
                <img v-bind:src="`${resourcesApi}/${movie.img}`"/>
            </div>
        </div>
    </div>

    <div class="card chat" id="chat-component">
        <h3>WS API (Socket id: {{ socketId }})</h3>
        <p v-for="message of messages">
            {{ message }}
        </p>
        <input v-model="message"><button v-on:click="send()">Send</button>
    </div>

    <!-- External libraries -->
    <script src="../libs/axios.js"></script>
    <script src="../libs/vue.js"></script>
    <script src="../libs/socket.io.js"></script>
    <script src="../libs/rxjs.js"></script>
    
    <!-- Custom code -->
    <script src="../ws/ws-service.js"></script>
    <script src="../control/auth-guard.js"></script>

    <script src="../control/movies-component.js"></script>
    <script src="../control/chat-component.js"></script>
</body>
</html>